<!DOCTYPE html>
<html>
<head>
	<title>Create Account</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/all.min.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{{url_for('static', filename='img/wave.png')}}">
	<div class="container">
		<div class="img">
			<img src="{{url_for('static', filename='img/bg.png')}}">
		</div>
		<div class="login-content">
			<form action="{{url_for('signup_post')}}" method="post">
				<img src="{{url_for('static', filename='img/avatar.svg')}}">
				<h2 class="title">Sign Up</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Name</h5>
           		   		<input type="text" class="input" name="name" required>
           		   </div>
           		</div>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-envelope"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email</h5>
           		   		<input type="email" class="input" name="email" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input" name="password" required>
            	   </div>
            	</div>
				<br>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
				<h6 class="flash">{{ message }}</h6>
						{% endfor %}
					{% endif %}
				{% endwith %}
            	<input type="submit" class="btn" value="Create Account">
				<p class="auth-link">Already registered? <a href="{{ url_for('main') }}">Back to login</a></p>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/login.js')}}"></script>
</body>
</html>
